{% extends "Rango/base_bootstrap.html" %}
{% load bootstrap_toolkit %}
{% load staticfiles %}
	{% block title_block %}
		Add Category
	{% endblock %}

	{% block body_block %}
		<div>

			<form role="form" id="category_form" method="post" action="{% url 'Rango:add_category' %}">
				<h2 class="form-signin-heading"\>Add a Category</a></h2>
				{% csrf_token %}
				{{ form|as_bootstrap }}
				<br />
				<button class="btn btn-primary" type="submit" name="submit">Create Category</button>
	        </form>
		</div>

	{% endblock %}
