<!DOCTYPE html>
{% load rango_template_tags %}
{% load staticfiles %}

<html>
    <head lang="en">
    <meta charset="UTF-8" />
    <title>
        Rango -
        {% block title_block %}
            How to Tango with Django!
        {% endblock %}
    </title>
</head>
<body>
    <div>
        {% block body_block %}
        {% endblock %}
    </div>
    <hr />
    <div>
        {% block sidebar_block %}
            {% get_category_list category%}
        {% endblock %}
    </div>
    <hr />
    <div>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'Rango:add_category' %}">Add New Category</a></li>
                <li><a href="{% url 'Rango:restricted' %}">Restricted Page</a></li>
                <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
                <li><a href="{% url 'auth_logout' %}?next=/rango/">Logout</a></li>
            {% else %}
                <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
                <li><a href="{% url 'auth_login' %}">Login</a><li>
            {% endif %}
            <li><a href="{% url 'Rango:about' %}">About</a></li>
            <li><a href="{% url 'Rango:index' %}">Index</a></li>
        </ul>
    </div>
</body>
</html>

<!--
Notice that for the logout, we have included a ?next=/rango/ . This is so when the user logs out, it
will redirect them to the index page of rango. If we exclude it, then they will be directed to the log
out page (but that would not be very nice).
-->
