<ul>
    {% if cats %}
        {% for c in cats %}
            {% if c == act_cat %}
            <li>
            <strong>
                <a href="{% url 'Rango:show_category' c.slug %}">{{ c.name }}</a>
            </strong>
            </li>
            {% else %}
                <li><a href="{% url 'Rango:show_category' c.slug %}">{{ c.name }}</a></li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li> <strong>There are no category present.</strong></li>
    {% endif %}
</ul>
