{% extends 'Rango/base_bootstrap.html' %}
{% load staticfiles %}

{% block title %}{{ user.username }} Profile{% endblock %}

{% block body_block %}
	<h1>{{selecteduser.username}} Profile</h1>
	<img src="{{userprofile.picture.url }}" width="300"height="300"alt="{{selecteduser.username}}" />
	<br/>
	<div>
		{% if selecteduser.username == user.username %}
			<h1>{{userprofile.picture.url }}</h1>
			<form method="post" action="." enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Update" />
			</form>
		{% else %}
			<p><strong>Website:</strong> <a href="{{userprofile.website}}">{{userprofile.website}}</a></p>
		{% endif %}
	</div>
	<div id="edit_profile"></div>
{% endblock %}
